{%extends "base.html"%}
{%block content%}
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">It all started with iCoder's idea. <span class="text-muted">It’ll blow
                    your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="banner3.jpeg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">We started iCoder in 1877. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="banner1.jpg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="banner2.jpg" alt="">
        </div>
    </div>
</div>
{%endblock%}