{%extends 'base.html'%}
{%block content%}
    <title>Geolocation</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
</head>

<body>
    <div id="search-container" class="container">
        <div class="row">
            <div class="col">
                <input type="text" id="source-location" class="form-control" placeholder="Enter source location">
            </div>
            <div class="col">
                <input type="text" id="destination-location" class="form-control" placeholder="Enter destination location">
            </div>
            <div class="col">
                <button id="find-route-button" class="btn btn-primary btn-block"><i class="bi bi-search"></i>Find Route</button>
            </div>
        </div>

        <div id="source-suggestions" class="suggestions"></div>
        <div id="destination-suggestions" class="suggestions"></div>

    </div>
    <div id="map"></div>
     <!--
    <div id="coordinates-container">
        <p id="marker-coordinates">Latitude: <span id="latitude"></span>, Longitude: <span id="longitude"></span></p>
    </div>
    -->
    
{%endblock%}
